<% include layout/top %>

    <div class="content">
        <div class="moo">
            <img src="/img/cow128.png" />
        </div>
        <b><%= text %>.</b>
    </div>
    <div class="content container">
        <div class="intro">
            <p class="letter">
                Secret Cow Level is an interactive development studio based in Los Angeles California. We specialize in modern web and game development using the               latest technologies and standards. We're currently developing our first game using an original IP.
            </p>
            <p class="letter">
            </p>
            <p class="letter">
                If you have a project and you're looking for programming assistance done right, we'd love to hear from you.
            </p>
        </div>
    </div>
    <div class="content">
        <p class="letterright">
            <a href="mailto:info@secretcowlevel.com">info@secretcowlevel.com</a>
        </p>
    </div>
</div>
<% include layout/bottom %>