<% include layout/top %>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="content">
                    <div class="moo">
                        <img src="/img/cow128.png" alt="m00!" />
                    </div>
                    <b><%= text %>.</b>
                </div>
                <div class="scl">
                    <div class="intro">
                        <p class="letter">
                            Secret Cow Level is an interactive development studio based in Los Angeles California. We specialize in modern web and game                                     development using the latest technologies and standards. We're currently developing our first game using an original IP.
                        </p>
                        <p class="letter">
                            If you have a project and you're looking for programming assistance done right, we'd love to hear from you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact row">
            <div class="col-xs-12">
                <p class="letterright">
                    <a href="mailto:info@secretcowlevel.com">info@secretcowlevel.com</a>
                </p>
            </div>
        </div>
    </div>

<% include layout/bottom %>